Repository lora-rs/lora-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ivajloip, @lthiery, @lulf, @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: put lorawan-device behind lorawan-radio feature, add async (#195)
  lora-phy/Cargo.toml
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

update embedded-hal* to 1.0.0-rc.3
  examples/stm32wl/Cargo.toml
  lora-phy/CHANGELOG.md
  lora-phy/Cargo.toml
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

bump
  .cargo/config.toml
  examples/nrf52840/Cargo.toml
  examples/rp/Cargo.toml
  examples/stm32l0/Cargo.toml
  examples/stm32wl/Cargo.toml
  lora-phy/CHANGELOG.md
  lora-phy/Cargo.toml
  lorawan-device/Cargo.toml
  rust-toolchain.toml
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio, @ivajloip, @lthiery, @lulf

ci: Remove redundant toolchain install.
  .github/workflows/rust.yml
  rust-toolchain.toml
Owners: none

continue
  lora-phy/Cargo.toml
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: Improve SPI read/write traces
  lora-phy/src/interface.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: sx1272: Fill FIFO buffer with single SPI transaction
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: sx127x: Switch set_sleep to use intf.write() directly.
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: sx127x: Drop write_register's sleep argument
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

Improve tracing logs a bit and refactor sx127x register writes (#199)
  lora-phy/src/interface.rs
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: sx127x: Make sure to copy only required bytes from FIFO
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: sx127x: Make sure to copy only required bytes from FIFO (#200)
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

Implement basic preamble detection support for async_device
  lorawan-device/src/async_device/mod.rs
  lorawan-device/src/async_device/radio.rs
  lorawan-device/src/async_device/test/mod.rs
Owners: @ivajloip, @lthiery, @lulf

Add skeleton for implementing RX state transitions
  lorawan-device/src/async_device/radio.rs
  lorawan-device/src/async_device/test/mod.rs
  lorawan-device/src/async_device/test/radio.rs
Owners: @ivajloip, @lthiery, @lulf

Add rx_until_state to Async device's implementation
  lora-phy/src/lorawan_radio.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lorawan-device: async_device: Rework comments, add TODOs
  lorawan-device/src/async_device/mod.rs
Owners: @ivajloip, @lthiery, @lulf

Refactor post-preamble packet rx into its own function
  lorawan-device/src/async_device/mod.rs
Owners: @ivajloip, @lthiery, @lulf

Update embedded-hal and embassy dependencies
  .cargo/config.toml
  examples/nrf52840/Cargo.toml
  examples/stm32l0/Cargo.toml
  examples/stm32wl/Cargo.toml
  lora-phy/Cargo.toml
  lorawan-device/Cargo.toml
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio, @ivajloip, @lthiery, @lulf

ci: Remove redundant toolchain install.
  .github/workflows/rust.yml
  rust-toolchain.toml
Owners: none

bump
  .cargo/config.toml
  examples/nrf52840/Cargo.toml
  examples/rp/Cargo.toml
  examples/stm32l0/Cargo.toml
  examples/stm32wl/Cargo.toml
  lora-phy/CHANGELOG.md
  lora-phy/Cargo.toml
  lorawan-device/Cargo.toml
  rust-toolchain.toml
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio, @ivajloip, @lthiery, @lulf

continue
  lora-phy/Cargo.toml
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

Update embedded-hal and embassy dependencies
  .cargo/config.toml
  examples/nrf52840/Cargo.toml
  examples/stm32l0/Cargo.toml
  examples/stm32wl/Cargo.toml
  lora-phy/Cargo.toml
  lorawan-device/Cargo.toml
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio, @ivajloip, @lthiery, @lulf

async_device: Pass RfConfig to rx_handle_window
  lorawan-device/src/async_device/mod.rs
Owners: @ivajloip, @lthiery, @lulf

lorawan-encoding: Add module with various packet length values
  lorawan-encoding/src/lib.rs
  lorawan-encoding/src/packet_length.rs
Owners: @ivajloip, @lthiery, @lulf

lorawan-device: Add expected payload length argument to rx_with_timeout
  lorawan-device/src/async_device/mod.rs
Owners: @ivajloip, @lthiery, @lulf

lorawan-device: Implement payload rx timeouts for async device
  lorawan-device/src/async_device/mod.rs
  lorawan-device/src/async_device/test/mod.rs
Owners: @ivajloip, @lthiery, @lulf

Taking PR remarks into account
  .cargo/config.toml
  examples/stm32wl/Cargo.toml
  lora-phy/Cargo.toml
  lorawan-device/Cargo.toml
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio, @ivajloip, @lthiery, @lulf

Update Rust toolchain channel to stable
  rust-toolchain.toml
Owners: none

remove dead code
  .cargo/config.toml
Owners: none

Update embedded hal to 1.0.0 (#201)
  .cargo/config.toml
  .github/workflows/rust.yml
  examples/nrf52840/Cargo.toml
  examples/rp/Cargo.toml
  examples/stm32l0/Cargo.toml
  examples/stm32wl/Cargo.toml
  lora-phy/CHANGELOG.md
  lora-phy/Cargo.toml
  lorawan-device/Cargo.toml
  rust-toolchain.toml
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio, @ivajloip, @lthiery, @lulf

lorawan-encoding: Add module with various packet length values
  lorawan-encoding/CHANGELOG.md
  lorawan-encoding/Cargo.toml
  lorawan-encoding/src/lib.rs
  lorawan-encoding/src/packet_length.rs
Owners: @ivajloip, @lthiery, @lulf

lorawan-encoding: Add basic test for checking join_accept packet length
  lorawan-encoding/tests/packet_length.rs
Owners: @ivajloip, @lthiery, @lulf

async-device: Refactor timing a bit, clean up FIXME/TODO
  lorawan-device/src/async_device/mod.rs
Owners: @ivajloip, @lthiery, @lulf

Update to embassy crates.io releases
  .cargo/config.toml
  examples/nrf52840/Cargo.toml
  examples/rp/Cargo.toml
  examples/stm32l0/Cargo.toml
  examples/stm32wl/Cargo.toml
  lorawan-device/Cargo.toml
Owners: @ivajloip, @lthiery, @lulf

Update to embassy crates.io releases
  .cargo/config.toml
  examples/nrf52840/Cargo.toml
  examples/rp/Cargo.toml
  examples/stm32l0/Cargo.toml
  examples/stm32wl/Cargo.toml
  lorawan-device/Cargo.toml
Owners: @ivajloip, @lthiery, @lulf

lorawan-encoding: Add basic test for checking join_accept packet length
  lorawan-encoding/tests/packet_length.rs
Owners: @ivajloip, @lthiery, @lulf

lorawan-encoding: Add module with various packet length values
  lorawan-encoding/CHANGELOG.md
  lorawan-encoding/Cargo.toml
  lorawan-encoding/src/lib.rs
  lorawan-encoding/src/packet_length.rs
Owners: @ivajloip, @lthiery, @lulf

lorawan-encoding: change lengths to usize. implement more and use them
  lorawan-encoding/src/packet_length.rs
  lorawan-encoding/src/parser.rs
  lorawan-encoding/tests/packet_length.rs
Owners: @ivajloip, @lthiery, @lulf

remove stray line addition
  lorawan-encoding/src/parser.rs
Owners: @ivajloip, @lthiery, @lulf

lorawan-encoding: Add module with various packet length values (#206)
  lorawan-encoding/CHANGELOG.md
  lorawan-encoding/Cargo.toml
  lorawan-encoding/src/lib.rs
  lorawan-encoding/src/packet_length.rs
  lorawan-encoding/src/parser.rs
  lorawan-encoding/tests/packet_length.rs
Owners: @ivajloip, @lthiery, @lulf

.github/CODEOWNERS:

/Cargo.toml @ivajloip @lthiery @lulf
/README.md @ivajloip @lthiery @lulf

/lora-modulation/ @lthiery @lulf @ivajloip
/lora-phy/ @lucasgranberg @plaes @CBJamo @Dirbaio
/lorawan-device/ @ivajloip @lthiery @lulf
/lorawan-encoding/ @ivajloip @lthiery @lulf
