Repository lora-rs/lora-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ivajloip, @lthiery, @lulf, @lucasgranberg, @plaes, @CBJamo, @Dirbaio

.github/CODEOWNERS:

/Cargo.toml @ivajloip @lthiery @lulf
/README.md @ivajloip @lthiery @lulf

/lora-modulation/ @lthiery @lulf @ivajloip
/lora-phy/ @lucasgranberg @plaes @CBJamo @Dirbaio
/lorawan-device/ @ivajloip @lthiery @lulf
/lorawan-encoding/ @ivajloip @lthiery @lulf

phy: Use RxMode enum as argument for prepare_for_rx
  examples/nrf52840/src/bin/lora_lorawan.rs
  examples/nrf52840/src/bin/lora_p2p_receive.rs
  examples/nrf52840/src/bin/lora_p2p_receive_duty_cycle.rs
  examples/rp/src/bin/lora_lorawan.rs
  examples/rp/src/bin/lora_p2p_receive.rs
  examples/stm32l0/src/bin/lora_lorawan.rs
  examples/stm32l0/src/bin/lora_p2p_receive.rs
  examples/stm32wl/src/bin/lora_lorawan.rs
  examples/stm32wl/src/bin/lora_lorawan_class_c.rs
  examples/stm32wl/src/bin/lora_p2p_receive.rs
  lora-phy/src/lib.rs
  lora-phy/src/lorawan_radio.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: sx126x: Reformat and add comments to set_lora_symbol_num_timeout
  lora-phy/src/sx1261_2/mod.rs
  lora-phy/src/sx1261_2/radio_kind_params.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: Bump version and add changelog entry
  lora-phy/CHANGELOG.md
  lora-phy/Cargo.toml
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: sx127x: Simplify code around set_lora_symbol_num_timeout.
  lora-phy/src/mod_params.rs
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: sx127x: Simplify code around set_lora_symbol_num_timeout.
  lora-phy/src/mod_params.rs
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: Bump version and add changelog entry
  lora-phy/CHANGELOG.md
  lora-phy/Cargo.toml
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: Use RxMode enum as argument for prepare_for_rx
  examples/nrf52840/src/bin/lora_lorawan.rs
  examples/nrf52840/src/bin/lora_p2p_receive.rs
  examples/nrf52840/src/bin/lora_p2p_receive_duty_cycle.rs
  examples/rp/src/bin/lora_lorawan.rs
  examples/rp/src/bin/lora_p2p_receive.rs
  examples/stm32l0/src/bin/lora_lorawan.rs
  examples/stm32l0/src/bin/lora_p2p_receive.rs
  examples/stm32wl/src/bin/lora_lorawan.rs
  examples/stm32wl/src/bin/lora_lorawan_class_c.rs
  examples/stm32wl/src/bin/lora_p2p_receive.rs
  lora-phy/src/lib.rs
  lora-phy/src/lorawan_radio.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: sx126x: Reformat and add comments to set_lora_symbol_num_timeout
  lora-phy/src/sx1261_2/mod.rs
  lora-phy/src/sx1261_2/radio_kind_params.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: Get rid of 'rx_pkt_params' arg from drivers' do_rx()
  lora-phy/src/lib.rs
  lora-phy/src/mod_traits.rs
  lora-phy/src/sx1261_2/mod.rs
  lora-phy/src/sx1261_2/radio_kind_params.rs
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: Move RxMode under mod_params
  lora-phy/src/lib.rs
  lora-phy/src/mod_params.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: Add rx_mode parameter to do_rx() function
  lora-phy/src/lib.rs
  lora-phy/src/mod_traits.rs
  lora-phy/src/sx1261_2/mod.rs
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: sx127x: Use RxMode in do_rx()
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: sx126x: Use RxMode in do_rx()
  lora-phy/src/sx1261_2/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: Add RxMode::DutyCycle and plug it in...
  lora-phy/src/lib.rs
  lora-phy/src/mod_params.rs
  lora-phy/src/sx1261_2/mod.rs
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: Drop duty_cycle_params argument from lorawan_radio.prepare_for_rx()
  examples/nrf52840/src/bin/lora_p2p_receive.rs
  examples/nrf52840/src/bin/lora_p2p_receive_duty_cycle.rs
  examples/rp/src/bin/lora_p2p_receive.rs
  examples/stm32l0/src/bin/lora_p2p_receive.rs
  examples/stm32wl/src/bin/lora_p2p_receive.rs
  lora-phy/CHANGELOG.md
  lora-phy/Cargo.toml
  lora-phy/src/lib.rs
  lora-phy/src/lorawan_radio.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: Make RxMode public again and add defmt::Format derive
  lora-phy/src/lib.rs
  lora-phy/src/mod_params.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: More documentation
  lora-phy/src/mod_params.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: Remove now unused args from do_rx()
  lora-phy/src/lib.rs
  lora-phy/src/mod_traits.rs
  lora-phy/src/sx1261_2/mod.rs
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: Drop duty_cycle_params argument from lorawan_radio.prepare_for_rx()
  examples/nrf52840/src/bin/lora_p2p_receive.rs
  examples/nrf52840/src/bin/lora_p2p_receive_duty_cycle.rs
  examples/rp/src/bin/lora_p2p_receive.rs
  examples/stm32l0/src/bin/lora_p2p_receive.rs
  examples/stm32wl/src/bin/lora_p2p_receive.rs
  lora-phy/CHANGELOG.md
  lora-phy/Cargo.toml
  lora-phy/src/lib.rs
  lora-phy/src/lorawan_radio.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: Add rx_mode parameter to do_rx() function
  lora-phy/src/lib.rs
  lora-phy/src/mod_traits.rs
  lora-phy/src/sx1261_2/mod.rs
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: More documentation
  lora-phy/src/mod_params.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: sx127x: Use RxMode in do_rx()
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: Remove now unused args from do_rx()
  lora-phy/src/lib.rs
  lora-phy/src/mod_traits.rs
  lora-phy/src/sx1261_2/mod.rs
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: Add RxMode::DutyCycle and plug it in...
  lora-phy/src/lib.rs
  lora-phy/src/mod_params.rs
  lora-phy/src/sx1261_2/mod.rs
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: sx126x: Use RxMode in do_rx()
  lora-phy/src/sx1261_2/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: Make RxMode public again and add defmt::Format derive
  lora-phy/src/lib.rs
  lora-phy/src/mod_params.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: Get rid of 'rx_pkt_params' arg from drivers' do_rx()
  lora-phy/src/lib.rs
  lora-phy/src/mod_traits.rs
  lora-phy/src/sx1261_2/mod.rs
  lora-phy/src/sx1261_2/radio_kind_params.rs
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

phy: Move RxMode under mod_params
  lora-phy/src/lib.rs
  lora-phy/src/mod_params.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: clarify sx126x PA usage
  lora-phy/src/sx1261_2/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

clippy
  lora-phy/src/sx1261_2/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

fix comments
  lora-phy/src/sx1261_2/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: clarify sx126x PA usage (#209)
  lora-phy/src/sx1261_2/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lorawan-device: get rx_config and rxc_config via mac layer
  lorawan-device/src/async_device/mod.rs
  lorawan-device/src/mac/mod.rs
Owners: @ivajloip, @lthiery, @lulf

lorawan-device: Introduce RxConfig for tweaking reception configuration
  lora-modulation/src/lib.rs
  lora-phy/Cargo.toml
  lora-phy/src/lorawan_radio.rs
  lorawan-device/Cargo.toml
  lorawan-device/src/async_device/mod.rs
  lorawan-device/src/async_device/radio.rs
  lorawan-device/src/async_device/test/mod.rs
  lorawan-device/src/async_device/test/radio.rs
  lorawan-device/src/mac/mod.rs
  lorawan-device/src/nb_device/state.rs
  lorawan-device/src/radio.rs
Owners: @lthiery, @lulf, @ivajloip, @lucasgranberg, @plaes, @CBJamo, @Dirbaio

async_device: Rename rx_with_timeout to rx_downlink
  lorawan-device/src/async_device/mod.rs
Owners: @ivajloip, @lthiery, @lulf

lorawan-radio: Add rx_single method to lorawan_radio
  lora-phy/src/lorawan_radio.rs
  lorawan-device/src/async_device/mod.rs
  lorawan-device/src/async_device/radio.rs
  lorawan-device/src/async_device/test/radio.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio, @ivajloip, @lthiery, @lulf

async_device: Switch rx_downlink to use Single Rx mode for RX1/RX2
  lora-phy/src/lib.rs
  lora-phy/src/lorawan_radio.rs
  lorawan-device/src/async_device/mod.rs
  lorawan-device/src/async_device/test/mod.rs
  lorawan-device/src/async_device/test/radio.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio, @ivajloip, @lthiery, @lulf

lorawan-radio: Migrate ms to symbols conversion into radio impl
  lora-phy/src/lorawan_radio.rs
  lora-phy/src/sx1261_2/mod.rs
  lorawan-device/src/mac/mod.rs
  lorawan-device/src/radio.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio, @ivajloip, @lthiery, @lulf

lorawan-radio: Rename rx to rx_continuous and add some additional comments
  lora-phy/src/lorawan_radio.rs
  lorawan-device/src/async_device/mod.rs
  lorawan-device/src/async_device/radio.rs
  lorawan-device/src/async_device/test/radio.rs
  lorawan-device/src/radio.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio, @ivajloip, @lthiery, @lulf

async_device: Switch rx_downlink to use Single Rx mode for RX1/RX2
  lora-phy/src/lib.rs
  lora-phy/src/lorawan_radio.rs
  lorawan-device/src/async_device/mod.rs
  lorawan-device/src/async_device/test/mod.rs
  lorawan-device/src/async_device/test/radio.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio, @ivajloip, @lthiery, @lulf
