Repository lora-rs/lora-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ivajloip, @lthiery, @lulf, @lucasgranberg, @plaes, @CBJamo, @Dirbaio

.github/CODEOWNERS:

/Cargo.toml @ivajloip @lthiery @lulf
/README.md @ivajloip @lthiery @lulf

/lora-modulation/ @lthiery @lulf @ivajloip
/lora-phy/ @lucasgranberg @plaes @CBJamo @Dirbaio
/lorawan-device/ @ivajloip @lthiery @lulf
/lorawan-encoding/ @ivajloip @lthiery @lulf

lorawan-radio: Migrate ms to symbols conversion into radio impl
  lora-phy/src/lorawan_radio.rs
  lora-phy/src/sx1261_2/mod.rs
  lorawan-device/src/mac/mod.rs
  lorawan-device/src/radio.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio, @ivajloip, @lthiery, @lulf

lorawan-device: get rx_config and rxc_config via mac layer
  lorawan-device/src/async_device/mod.rs
  lorawan-device/src/mac/mod.rs
Owners: @ivajloip, @lthiery, @lulf

async_device: Rename rx_with_timeout to rx_downlink
  lorawan-device/src/async_device/mod.rs
Owners: @ivajloip, @lthiery, @lulf

lorawan-device: Introduce RxConfig for tweaking reception configuration
  lora-modulation/src/lib.rs
  lora-phy/Cargo.toml
  lora-phy/src/lorawan_radio.rs
  lorawan-device/Cargo.toml
  lorawan-device/src/async_device/mod.rs
  lorawan-device/src/async_device/radio.rs
  lorawan-device/src/async_device/test/mod.rs
  lorawan-device/src/async_device/test/radio.rs
  lorawan-device/src/mac/mod.rs
  lorawan-device/src/nb_device/state.rs
  lorawan-device/src/radio.rs
Owners: @lthiery, @lulf, @ivajloip, @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lorawan-radio: Rename rx to rx_continuous and add some additional comments
  lora-phy/src/lorawan_radio.rs
  lorawan-device/src/async_device/mod.rs
  lorawan-device/src/async_device/radio.rs
  lorawan-device/src/async_device/test/radio.rs
  lorawan-device/src/radio.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio, @ivajloip, @lthiery, @lulf

lorawan-radio: Add rx_single method to lorawan_radio
  lora-phy/src/lorawan_radio.rs
  lorawan-device/src/async_device/mod.rs
  lorawan-device/src/async_device/radio.rs
  lorawan-device/src/async_device/test/radio.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio, @ivajloip, @lthiery, @lulf

lora-modulation: add symbols to ms
  lora-modulation/README.md
  lora-modulation/src/lib.rs
Owners: @lthiery, @lulf, @ivajloip

lora_phy::sx126x: symbol calc bug fix
  lora-phy/src/sx1261_2/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora_phy::sx126x: symbol calc bug fix
  lora-phy/src/sx1261_2/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-modulation: add symbols to ms
  lora-modulation/README.md
  lora-modulation/src/lib.rs
Owners: @lthiery, @lulf, @ivajloip

implement logs
  lorawan-device/src/async_device/mod.rs
  lorawan-device/src/lib.rs
  lorawan-device/src/log.rs
Owners: @ivajloip, @lthiery, @lulf

clippy fix
  lorawan-device/src/async_device/mod.rs
Owners: @ivajloip, @lthiery, @lulf

clippy fix
  lorawan-device/src/async_device/mod.rs
Owners: @ivajloip, @lthiery, @lulf

implement logs
  lorawan-device/src/async_device/mod.rs
  lorawan-device/src/lib.rs
  lorawan-device/src/log.rs
Owners: @ivajloip, @lthiery, @lulf

examples: Add linker script to run target binary from RAM
  examples/link_ram_cortex_m.x
  examples/nrf52840/Cargo.toml
  examples/nrf52840/build.rs
Owners: none

examples: Add linker script to run target binary from RAM
  examples/link_ram_cortex_m.x
  examples/nrf52840/Cargo.toml
  examples/nrf52840/build.rs
Owners: none

lorawan-device: remove feature flag for async
  examples/nrf52840/Cargo.toml
  examples/rp/Cargo.toml
  examples/stm32l0/Cargo.toml
  examples/stm32wl/Cargo.toml
  lora-phy/Cargo.toml
  lorawan-device/Cargo.toml
  lorawan-device/src/lib.rs
  lorawan-device/src/mac/mod.rs
  lorawan-device/src/radio.rs
  lorawan-device/src/test_util.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio, @ivajloip, @lthiery, @lulf

lorawan-device: remove feature flag for async
  examples/nrf52840/Cargo.toml
  examples/rp/Cargo.toml
  examples/stm32l0/Cargo.toml
  examples/stm32wl/Cargo.toml
  lora-phy/Cargo.toml
  lorawan-device/Cargo.toml
  lorawan-device/src/lib.rs
  lorawan-device/src/mac/mod.rs
  lorawan-device/src/radio.rs
  lorawan-device/src/test_util.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio, @ivajloip, @lthiery, @lulf

update many change-logs and prepare lorawan and lorawan-device release
  lora-modulation/CHANGELOG.md
  lora-modulation/Cargo.toml
  lora-phy/CHANGELOG.md
  lora-phy/Cargo.toml
  lorawan-device/CHANGELOG.md
  lorawan-device/Cargo.toml
  lorawan-encoding/CHANGELOG.md
  lorawan-encoding/Cargo.toml
  lorawan-encoding/README.md
Owners: @lthiery, @lulf, @ivajloip, @lucasgranberg, @plaes, @CBJamo, @Dirbaio

update many change-logs and prepare lorawan and lorawan-device release
  lora-modulation/CHANGELOG.md
  lora-modulation/Cargo.toml
  lora-phy/CHANGELOG.md
  lora-phy/Cargo.toml
  lorawan-device/CHANGELOG.md
  lorawan-device/Cargo.toml
  lorawan-encoding/CHANGELOG.md
  lorawan-encoding/Cargo.toml
  lorawan-encoding/README.md
Owners: @lthiery, @lulf, @ivajloip, @lucasgranberg, @plaes, @CBJamo, @Dirbaio

bump lorawan-encoding dependency for lorawan-device
  lorawan-device/Cargo.toml
Owners: @ivajloip, @lthiery, @lulf

bump lorawan-encoding dependency for lorawan-device
  lorawan-device/Cargo.toml
Owners: @ivajloip, @lthiery, @lulf

lorawan-device: allow multiple rxc frames during rxc window
  lorawan-device/src/async_device/mod.rs
  lorawan-device/src/async_device/test/mod.rs
Owners: @ivajloip, @lthiery, @lulf

lora-phy: sx127x: fix snr and rssi calculation
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: sx127x: add a prefix to constants for sx1276
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

fix comment
  lorawan-device/src/async_device/mod.rs
Owners: @ivajloip, @lthiery, @lulf

lorawan-device: allow multiple rxc frames during rxc window (#217)
  lorawan-device/src/async_device/mod.rs
  lorawan-device/src/async_device/test/mod.rs
Owners: @ivajloip, @lthiery, @lulf

lora-phy: sx127x: add a TODO comment for sx1272
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: sx127x: handle sx1272 rssi offset
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: sx127x: handle sx1272 rssi offset
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: sx127x: add a TODO comment for sx1272
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: sx127x: add a prefix to constants for sx1276
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: sx127x: fix snr and rssi calculation
  lora-phy/src/sx1276_7_8_9/mod.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: give drivers more succint names
  lora-phy/src/lib.rs
  lora-phy/src/sx126x/mod.rs
  lora-phy/src/sx126x/radio_kind_params.rs
  lora-phy/src/sx127x/mod.rs
  lora-phy/src/sx127x/radio_kind_params.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: rename Stm32l0Iv as GenericSx127xIv
  lora-phy/src/iv.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

examples: update naming for lora-phy modules
  examples/nrf52840/src/bin/lora_cad.rs
  examples/nrf52840/src/bin/lora_lorawan.rs
  examples/nrf52840/src/bin/lora_p2p_receive.rs
  examples/nrf52840/src/bin/lora_p2p_receive_duty_cycle.rs
  examples/nrf52840/src/bin/lora_p2p_send.rs
  examples/rp/src/bin/lora_lorawan.rs
  examples/rp/src/bin/lora_p2p_receive.rs
  examples/rp/src/bin/lora_p2p_send.rs
  examples/rp/src/bin/lora_p2p_send_multicore.rs
  examples/stm32l0/src/bin/lora_cad.rs
  examples/stm32l0/src/bin/lora_lorawan.rs
  examples/stm32l0/src/bin/lora_p2p_receive.rs
  examples/stm32l0/src/bin/lora_p2p_send.rs
  examples/stm32wl/src/bin/lora_lorawan.rs
  examples/stm32wl/src/bin/lora_lorawan_class_c.rs
  examples/stm32wl/src/bin/lora_p2p_receive.rs
  examples/stm32wl/src/bin/lora_p2p_send.rs
Owners: none

lora-phy: give drivers more succint names
  lora-phy/src/lib.rs
  lora-phy/src/sx126x/mod.rs
  lora-phy/src/sx126x/radio_kind_params.rs
  lora-phy/src/sx127x/mod.rs
  lora-phy/src/sx127x/radio_kind_params.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

lora-phy: rename Stm32l0Iv as GenericSx127xIv
  lora-phy/src/iv.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio

examples: update naming for lora-phy modules
  examples/nrf52840/src/bin/lora_cad.rs
  examples/nrf52840/src/bin/lora_lorawan.rs
  examples/nrf52840/src/bin/lora_p2p_receive.rs
  examples/nrf52840/src/bin/lora_p2p_receive_duty_cycle.rs
  examples/nrf52840/src/bin/lora_p2p_send.rs
  examples/rp/src/bin/lora_lorawan.rs
  examples/rp/src/bin/lora_p2p_receive.rs
  examples/rp/src/bin/lora_p2p_send.rs
  examples/rp/src/bin/lora_p2p_send_multicore.rs
  examples/stm32l0/src/bin/lora_cad.rs
  examples/stm32l0/src/bin/lora_lorawan.rs
  examples/stm32l0/src/bin/lora_p2p_receive.rs
  examples/stm32l0/src/bin/lora_p2p_send.rs
  examples/stm32wl/src/bin/lora_lorawan.rs
  examples/stm32wl/src/bin/lora_lorawan_class_c.rs
  examples/stm32wl/src/bin/lora_p2p_receive.rs
  examples/stm32wl/src/bin/lora_p2p_send.rs
Owners: none

lora-phy: refactor sx127x to have chip trait instead of enum
  examples/stm32l0/src/bin/lora_cad.rs
  examples/stm32l0/src/bin/lora_lorawan.rs
  examples/stm32l0/src/bin/lora_p2p_receive.rs
  examples/stm32l0/src/bin/lora_p2p_send.rs
  lora-phy/src/sx127x/mod.rs
  lora-phy/src/sx127x/radio_kind_params.rs
Owners: @lucasgranberg, @plaes, @CBJamo, @Dirbaio
